# System files
Thumbs.db

# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rbuildignore

# Temporary files
*.Rout
*.log
*.tmp

# Scripts
scripts/anonymisation_dataset.R

# Dataset
dataset/

# Manuscripts
manuscript/

# Outputs
results/model selection tables

# Else
_archives/
_Exchange_reviewers_editors/
README.html
